* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(255, 240, 227);
}

.header {
    padding: 30px;
    font-family:'Lucida Sans', Arial, sans-serif;
    background-color: rgb(233, 164, 118);
    color: #ffffff;
    opacity: 50%;
}

.header h1 {
    display: inline-block;
    font-size: 80px;

}

.header div {
    padding-top: 20px 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.topnav div ul {
    list-style-type: none;
}

.topnav div ul li {
    display: inline-block;
    margin-left: 30px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a {
    color: #000000;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("gfathermtnsunset.jpg");
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.float-left {
    float: left;
    margin-right: 30px;
}

.float-right {
    float: right;
    margin-left: 30px;
}

.content {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 10px;
    clear: both;
    float: right;
    width: 35%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 240, 227);
}

.benefit-lead {
    margin-bottom: 10px;
    color: #000000;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #000000;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 20px auto;
    max-width: 300px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
}

.search-engine-optimization {
    margin-bottom: 25px;
    padding: 25px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 240, 227);
    color: #000000;
}

.online-reputation-management {
    margin-bottom: 25px;
    padding: 25px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 240, 227);
    color: #000000;
}

.social-media-marketing {
    margin-bottom: 25px;
    padding: 25px;
    height: 250px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(255, 240, 227);
    color: #000000;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
